body {
  background-color: rgb(200, 255, 237)
  
}

div {

  text-align:center;
  padding: 20px;
  padding-bottom: 50px;
  
}

#app {
  display: flex;
  justify-content: space-between;
  

}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: 900;
  color: mediumvioletred;
}

#flink {
  font-size: xx-large;
  background-color: mediumvioletred;
  color: white;
  padding:10px;
}